@model Tuteexy.Models.ViewModels.ClassworkSheetVM

<div class="row row-cols-1">
    <div class="col-12">
        <div class="card bg-classwork mb-2">
            <div class="card-body text-white">
                <h3 class="card-title">Classwork and Discussion</h3>
            </div>
        </div>
    </div>
</div>

@if (Model != null)
{
<div class="row row-cols-1">
    <div class="col-12">
        <div class="card bg-classwork mb-2">
            <div class="card-body text-black-50">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="card-title text-white py-0 my-0">@Model.Classwork.Title</p>
                        </div>
                        <div class="col-md-6">
                            <p class="card-title text-white py-0 my-0"><strong>Classwork #:</strong> @Model.Classwork.ClassworkID</p>
                            <p class="card-subtitle text-white py-0 my-0"><strong>Post By:</strong> @Model.Classwork.Teacher.FullName</p>
                            <p class="card-subtitle text-white py-0 my-0"><strong>Subject:</strong> @Model.Classwork.Subject </p>
                        </div>
                        <div class="col-md-6">
                            <p class="card-subtitle text-white"><strong>Class Date:</strong> @Model.Classwork.TimeStart.ToString("dd/MMM/yyyy") </p>
                            <p class="card-subtitle text-white"><strong>Start Time:</strong> @Model.Classwork.TimeStart.ToString("hh:mm tt") </p>
                            <p class="card-subtitle text-white"><strong>End Time:</strong> @Model.Classwork.TimeEnd.ToString("hh:mm tt") </p>
                        </div>
                        <div class="col-md-12 mt-2 text-white">
                            @Html.Raw(Model.Classwork.Description)
                        </div>
                        <div class="col-md-12">
                            <div class="btn-group">
                                @if (string.IsNullOrWhiteSpace(Model.Classwork.RefLink1) == false && (string.IsNullOrEmpty(Model.Classwork.RefLink1) == false))
                                {
                                    <a href="@Model.Classwork.RefLink1" class="btn btn-light">
                                        <span class="fas fa-link">

                                        </span>  <span>Attachment - 1</span>
                                    </a>}

                                @if (string.IsNullOrWhiteSpace(@Model.Classwork.RefLink2) == false && (string.IsNullOrEmpty(Model.Classwork.RefLink2) == false))
                                {
                                    <a href="@Model.Classwork.RefLink2" class="btn btn-light">
                                        <span class="fas fa-link">

                                        </span>  <span>Attachment - 2</span>
                                    </a>}

                                @if (string.IsNullOrWhiteSpace(@Model.Classwork.RefLink3) == false && (string.IsNullOrEmpty(Model.Classwork.RefLink3) == false))
                                {
                                    <a href="@Model.Classwork.RefLink3" class="btn btn-light">
                                        <span class="fas fa-link">

                                        </span>  <span>Attachment - 3</span>
                                    </a>}

                                @if (string.IsNullOrWhiteSpace(@Model.Classwork.RefLink4) == false && (string.IsNullOrEmpty(Model.Classwork.RefLink4) == false))
                                {
                                    <a href="@Model.Classwork.RefLink4" class="btn btn-light">
                                        <span class="fas fa-link">

                                        </span>  <span>Attachment - 4</span>
                                    </a>}

                                @if (string.IsNullOrWhiteSpace(@Model.Classwork.RefLink5) == false && (string.IsNullOrEmpty(Model.Classwork.RefLink5) == false))
                                {
                                    <a href="@Model.Classwork.RefLink5" class="btn btn-light">
                                        <span class="fas fa-link">

                                        </span>  <span>Attachment - 5</span>
                                    </a>}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



        <div class="row row-cols-1">
            <div class="col-12">
                <div class="card bg-classwork mb-2">
                    <div class="card-body text-dark">
                        <form method="post" autocomplete="off" asp-area="User" asp-controller="ClassworkSheets" asp-action="Answer">
                            <input type="hidden" id="ClassworkID" name="ClassworkID" value="@Model.Classwork.ClassworkID" />
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Reply</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="Description" name="Description" required></textarea>
                                </div>
                            </div>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="submit" class="btn btn-success">
                                    <span class="fas fa-save"></span>
                                    Post
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    

    <div class="row row-cols-1">
        @foreach (ClassworkSheet item in Model.ClassworkSheet)
        {
            <div class="offset-2 col-10">
                <div class="card bg-classwork mb-2">
                    <div class="card-header text-white-50">
                        <p class="card-subtitle" style="font-size:smaller">@item.User.FullName, @item.SubmittedDate</p>
                    </div>
                    <div class="card-body text-white">
                        <p class="card-title">@item.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>

}

