@model Tuteexy.Models.ExamTmp
@{ ViewData["Title"] = "Exam Preview"; }

<partial name="_StatusMessage" for="@TempData["StatusMessage"]" />

<div class="row row-cols-1">
    <div class="col-12">
        <div class="card bg-examtmp mb-2">
            <div class="card-body text-white">
                <h3 class="card-title">ExamTmp</h3>
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-1">
    <div class="col-12">
        <div class="card bg-secondary mb-2">
            <div class="card-body text-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="card-title py-0 my-0">@Model.Title</p>
                        </div>
                        <div class="col-md-6">
                            <p class="card-title py-0 my-0"><strong>ExamTmp #:</strong> @Model.ExamTmpID</p>
                            <p class="card-subtitle py-0 my-0"><strong>Post By:</strong> @Model.TeacherName</p>
                            <p class="card-subtitle py-0 my-0"><strong>Subject:</strong> @Model.Subject </p>
                        </div>
                        <div class="col-md-6">
                            <p class="card-title py-0 my-0"><strong>Marks:</strong> @Model.ExmMarks</p>
                            <p class="card-subtitle py-0 my-0"><strong>Date Assigned:</strong> @Model.DateAssigned.ToString("dd/MMM/yyyy hh:mm tt") </p>
                            <p class="card-subtitle"><strong>Date Due:</strong> @Model.DateDue.ToString("dd/MMM/yyyy") </p>
                        </div>
                        <div class="col-md-12 mt-2">
                            @Html.Raw(Model.Description)
                        </div>
                        <div class="col-md-12">
                            <div class="btn-group">
                                @if (string.IsNullOrWhiteSpace(Model.RefLink1) == false && (string.IsNullOrEmpty(Model.RefLink1) == false))
                                {
                                <a href="@Model.RefLink1" class="btn bg-examtmp-light mr-1" data-toggle="tooltip" data-placement="top" title="Attachment - 1">
                                    <span class="fas fa-link">

                                    </span> <span class="d-none d-md-block d-lg-block d-xl-block">At-1</span>
                                </a>}

                                @if (string.IsNullOrWhiteSpace(@Model.RefLink2) == false && (string.IsNullOrEmpty(Model.RefLink2) == false))
                                {
                            <a href="@Model.RefLink2" class="btn bg-examtmp-light mr-1" data-toggle="tooltip" data-placement="top" title="Attachment - 2">
                                <span class="fas fa-link">

                                </span>   <span class="d-none d-md-block d-lg-block d-xl-block">At-2</span>
                            </a>}

                                @if (string.IsNullOrWhiteSpace(@Model.RefLink3) == false && (string.IsNullOrEmpty(Model.RefLink3) == false))
                                {
                            <a href="@Model.RefLink3" class="btn bg-examtmp-light mr-1" data-toggle="tooltip" data-placement="top" title="Attachment - 3">
                                <span class="fas fa-link">

                                </span>   <span class="d-none d-md-block d-lg-block d-xl-block">At-3</span>
                            </a>}

                                @if (string.IsNullOrWhiteSpace(@Model.RefLink4) == false && (string.IsNullOrEmpty(Model.RefLink4) == false))
                                {
                            <a href="@Model.RefLink4" class="btn bg-examtmp-light mr-1" data-toggle="tooltip" data-placement="top" title="Attachment - 4">
                                <span class="fas fa-link">

                                </span>   <span class="d-none d-md-block d-lg-block d-xl-block">At-4</span>
                            </a>}

                                @if (string.IsNullOrWhiteSpace(@Model.RefLink5) == false && (string.IsNullOrEmpty(Model.RefLink5) == false))
                                {
                            <a href="@Model.RefLink5" class="btn bg-examtmp-light mr-1" data-toggle="tooltip" data-placement="top" title="Attachment - 5">
                                <span class="fas fa-link">

                                </span>   <span class="d-none d-md-block d-lg-block d-xl-block">At-5</span>
                            </a>}
                            <a class="btn btn-light" asp-area="Lms" asp-controller="ExamTmps" asp-action="Index">
                                <span class="fas fa-undo"></span>
                                <span class="d-none d-md-block d-lg-block d-xl-block">Cancel</span>
                                
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


