@model IEnumerable<Tuteexy.Models.Homework>
@{ ViewData["Title"] = "All My Homeworks"; }

<partial name="_StatusMessage" for="@TempData["StatusMessage"]" />

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-success" role="alert">
                In this 'Homeworks' section, you get to view all the homeworks or assignments declared in <b>your</b>
                particular class that you need to submit before a fixed date for your regular or academic assessment, in real
                life or online.
            </div>
            @*<div class="card">
                    <div class="card-header">
                        <h5 class="card-title">My homeworks</h5>
                    </div>
                </div>*@
        </div>
    </div>
</div>

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12">
            @foreach (Homework item in Model)
            {
<div class="card bg-homework card-pointer">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="card-title text-white py-0 my-0">@item.Title</p>
                </div>
                <div class="col-md-6">
                    <p class="card-title text-white py-0 my-0"><strong>Homework No:</strong>@item.HomeworkID</p>
                    <p class="card-subtitle text-white py-0 my-0"><strong>Post By:</strong> @item.Teacher.FullName</p>
                    <p class="card-subtitle text-white py-0 my-0"><strong>Subject:</strong> @item.Subject </p>
                </div>
                <div class="col-md-6">
                    <p class="card-title text-white py-0 my-0"><strong>Marks:</strong>@item.HwMarks</p>
                    <p class="card-subtitle text-white py-0 my-0"><strong>Date Assigned:</strong> @item.DateAssigned.ToString("dd/MMM/yyyy hh:mm tt") </p>
                    <p class="card-subtitle text-white"><strong>Date Due:</strong> @item.DateDue.ToString("dd/MMM/yyyy") </p>
                </div>

                <div class="col-md-12 text-center mt-2">
                    <a class="btn bg-homework-light txtwhite w-50" asp-area="Lms" asp-controller="MyHomeworks" asp-action="HomeworkReply" asp-route-id="@item.HomeworkID">
                        <span class="fas fa-click"></span>
                        H.W. Details!
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>}
        </div>
    </div>
</div>
