@model Tuteexy.Models.ViewModels.SchoolHomeVM
@{ ViewData["Title"] = "School Dashboard"; }

@{ var tmp = "Go ahead and ask your crazy question 🤯"; }



<div class="row">
    <div class="col-12">
        <div class="card pb-3">
            <div class="card-header">
                <div class="row justify-content-between align-content-center">
                    <div class=" col-7">
                        <h5 class="card-title">Manage School</h5>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-success w-100" asp-area="Lms" asp-controller="Schools" asp-action="Index"><span class="fas fa-tasks"></span> Manage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-1">
    @foreach (SchoolNotice item in Model.SchoolNotice)
    {
<div class="col-12">
    <div class="card bg-warning">
        <div class="card-header">
            School Notice
        </div>
        <div class="card-body">
            <p class="card-title">@item.Title</p>

            <div class="content">
                @Html.Raw(item.Description)
            </div>
        </div>
    </div>
</div>}
</div>


@if (Model != null)
{




<div class="row row-cols-1">
    @foreach (ClassRoomNotice item in Model.ClassRoomNotice)
    {
<div class="col-12">
    <div class="card bg-info text-white">
        <div class="card-header">
            Class Notice
        </div>
        <div class="card-body">
            <p class="card-title titlefont">@item.Title</p>

            <div class="content">
                @Html.Raw(item.Description)
            </div>
        </div>
    </div>
</div>}
</div>

                <div class="row">
                    @foreach (Homework item in Model.Homework)
                    {
    <div class="col-12">
        <div class="card bg-homework card-pointer">
            <div class="card-body text-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="card-title py-0 my-0">@item.Title</p>
                        </div>
                        <div class="col-md-6">
                            <p class="card-title py-0 my-0"><strong>Homework No:</strong>@item.HomeworkID</p>
                            <p class="card-subtitle py-0 my-0"><strong>Post By:</strong> @item.Teacher.FullName</p>
                            <p class="card-subtitle py-0 my-0"><strong>Subject:</strong> @item.Subject </p>
                        </div>
                        <div class="col-md-6">
                            <p class="card-title py-0 my-0"><strong>Marks:</strong>@item.HwMarks</p>
                            <p class="card-subtitle py-0 my-0"><strong>Date Assigned:</strong> @item.DateAssigned.ToString("dd/MMM/yyyy hh:mm tt") </p>
                            <p class="card-subtitle"><strong>Date Due:</strong> @item.DateDue.ToString("dd/MMM/yyyy") </p>
                        </div>


                        <div class="col-md-12 text-center mt-2">
                            <a class="btn bg-homework-light txtwhite w-50" asp-area="Lms" asp-controller="MyHomeworks" asp-action="HomeworkReply" asp-route-id="@item.HomeworkID">
                                <span class="fas fa-click"></span>
                                H.W. Details!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>}
                </div>





                                <div class="row">
                                    @foreach (Classwork item in Model.Classwork)
                                    {
                    <div class="col-12">
                        <div class="card bg-classwork card-pointer">
                            <div class="card-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12"> <p class="card-title text-white py-0 my-0">@item.Title</p></div>
                                        <div class="col-6">
                                            <p class="card-subtitle text-white py-0 my-0"><strong>Post By:</strong> @item.Teacher.FullName</p>
                                            <p class="card-subtitle text-white py-0 my-0"><strong>Subject:</strong> @item.Subject </p>
                                            <p class="card-subtitle text-white py-0 my-0"><strong>Date Assigned:</strong> @item.DateAssigned.ToString("dd/MMM/yyyy hh:mm tt") </p>
                                        </div>
                                        <div class="col-6">
                                            <p class="card-subtitle text-white py-0 my-0"><strong>Class Date:</strong> @item.TimeStart.ToString("dd/MMM/yyyy") </p>
                                            <p class="card-subtitle text-white py-0 my-0"><strong>Start Time:</strong> @item.TimeStart.ToString("hh:mm tt") </p>
                                            <p class="card-subtitle text-white py-0 my-0"><strong>End Time:</strong> @item.TimeEnd.ToString("hh:mm tt") </p>
                                        </div>
                                    </div>

                                    <div class="btn-group">
                                        @if (string.IsNullOrWhiteSpace(@item.RefLink1) == false && (string.IsNullOrEmpty(item.RefLink1) == false))
                                        {
                    <a href="@item.RefLink1" class="btn btn-light">
                        <span class="fas fa-camera">
                        </span>  <span>Join</span>
                    </a>}

                                        @if (string.IsNullOrWhiteSpace(@item.RefLink2) == false && (string.IsNullOrEmpty(item.RefLink2) == false))
                                        {
                    <a href="@item.RefLink2" class="btn btn-light">
                        <span class="fas fa-link">
                        </span>  <span>Attachment - 2</span>
                    </a>}

                                        @if (string.IsNullOrWhiteSpace(@item.RefLink3) == false && (string.IsNullOrEmpty(item.RefLink3) == false))
                                        {
                    <a href="@item.RefLink3" class="btn btn-light">
                        <span class="fas fa-link">
                        </span>  <span>Attachment - 3</span>
                    </a>}

                                        @if (string.IsNullOrWhiteSpace(@item.RefLink4) == false && (string.IsNullOrEmpty(item.RefLink4) == false))
                                        {
                    <a href="@item.RefLink4" class="btn btn-light">
                        <span class="fas fa-link">
                        </span>  <span>Attachment - 4</span>
                    </a>}

                                        @if (string.IsNullOrWhiteSpace(@item.RefLink5) == false && (string.IsNullOrEmpty(item.RefLink5) == false))
                                        {
                    <a href="@item.RefLink5" class="btn btn-light">
                        <span class="fas fa-link">
                        </span>  <span>Attachment - 5</span>
                    </a>}

                                    </div>
                                    <div class="col-md-12 text-center mt-2">
                                        <a class="btn bg-classwork-light txtwhite w-50" asp-area="Lms" asp-controller="MyClassworks" asp-action="ClassworkReply" asp-route-id="@item.ClassworkID">
                                            <span class="fas fa-click"></span>
                                            C.W. Details!
                                        </a>
                                    </div>

                                </div>




                            </div>
                        </div>


                    </div>}
                                </div>}






<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content  bg-dark">
            <div class="modal-header border-0">
                <h5 class="modal-title text-white" id="exampleModalLabel">@tmp</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-area="Hub" asp-controller="Questions" asp-action="Upsert">
                    <div class="form-group p-0">
                        <textarea class="form-control" id="Description" name="Description" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">
                        <span class="fas fa-undo"></span>
                        Post
                    </button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">
                        <span class="fas fa-undo"></span>
                        Close
                    </button>

                </form>
            </div>
            <div class="modal-footer border-0">

            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="QuestionModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered w-100">
        <div class="modal-content  bg-dark">
            <div class="modal-header border-0">
                <h5 class="modal-title text-white" id="exampleModalLabel">@tmp</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer border-0">

            </div>
        </div>
    </div>
</div>