@model Tuteexy.Models.ViewModels.UserHomeVM

<div class="notification is-dark is-rounded has-text-centered px-0 pt-0 pb-2">
    <img src="~/images/ads/dashboardbanner.jpg" style="width:100%">
</div>

@if (Model != null)
{
    <div class="columns is-multiline">
        @foreach (SchoolNotice item in Model.SchoolNotice)
        {
            <div class="card bg-danger">
                <div class="card-header">
                    School Notice
                </div>
                <div class="card-body">
                    <p class="card-title">@item.Title</p>

                    <div class="content">
                        @Html.Raw(item.Description)
                    </div>
                </div>
            </div>
        }
    </div>


    <div class="columns is-multiline">
        @foreach (ClassRoomNotice item in Model.ClassRoomNotice)
        {
            <div class="card bg-primary">
                <div class="card-header">
                    Class Notice
                </div>
                <div class="card-body">
                    <p class="card-title">@item.Title</p>

                    <div class="content">
                        @Html.Raw(item.Description)
                    </div>
                </div>
            </div>
         }
    </div>



                                <div class="row">
                                    @foreach (Homework item in Model.Homework)
                                    {
                                    <div class="col-12">
                                        <div class="card bg-warning">
                                            <div class="card-body">
                                                <p class="title py-0 my-0">@item.Title</p>
                                                <p class="subtitle py-0 my-0"><strong>Post By:</strong> @item.Teacher.Name</p>
                                                <p class="subtitle py-0 my-0"><strong>Subject:</strong> @item.Subject </p>
                                                <p class="subtitle py-0 my-0"><strong>Date Assigned:</strong> @item.DateAssigned.ToString("dd/MMM/yyyy hh:mm tt") </p>
                                                <p class="subtitle"><strong>Date Due:</strong> @item.DateDue.ToString("dd/MMM/yyyy") </p>

                                                <div class="btn-group">
                                                    @if (string.IsNullOrWhiteSpace(@item.RefLink1) == false && (string.IsNullOrEmpty(item.RefLink1) == false))
                                                    {
                                    <a href="@item.RefLink1" class="btn btn-light">
                                        <span class="icon is-medium">
                                            <i class="fas fa-link"></i>
                                        </span>  <span>Attachment - 1</span>
                                    </a>}

                                                    @if (string.IsNullOrWhiteSpace(@item.RefLink2) == false && (string.IsNullOrEmpty(item.RefLink2) == false))
                                                    {
                                    <a href="@item.RefLink2" class="btn btn-light">
                                        <span class="icon is-medium">
                                            <i class="fas fa-link"></i>
                                        </span>  <span>Attachment - 2</span>
                                    </a>}

                                                    @if (string.IsNullOrWhiteSpace(@item.RefLink3) == false && (string.IsNullOrEmpty(item.RefLink3) == false))
                                                    {
                                    <a href="@item.RefLink3" class="btn btn-light">
                                        <span class="icon is-medium">
                                            <i class="fas fa-link"></i>
                                        </span>  <span>Attachment - 3</span>
                                    </a>}

                                                    @if (string.IsNullOrWhiteSpace(@item.RefLink4) == false && (string.IsNullOrEmpty(item.RefLink4) == false))
                                                    {
                                    <a href="@item.RefLink4" class="btn btn-light">
                                        <span class="icon is-medium">
                                            <i class="fas fa-link"></i>
                                        </span>  <span>Attachment - 4</span>
                                    </a>}

                                                    @if (string.IsNullOrWhiteSpace(@item.RefLink5) == false && (string.IsNullOrEmpty(item.RefLink5) == false))
                                                    {
                                    <a href="@item.RefLink5" class="btn btn-light">
                                        <span class="icon is-medium">
                                            <i class="fas fa-link"></i>
                                        </span>  <span>Attachment - 5</span>
                                    </a>}
                                                    @{ var eml = "mailto:" + @item.Teacher.Email; }

                                                    <a href="@eml" class="btn btn-light">
                                                        <span class="icon is-medium">
                                                            <i class="fas fa-link"></i>
                                                        </span>  <span>Reply</span>
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    @Html.Raw(item.Description)
                                                </div>
                                            </div>
                                        </div>

                                        
                                    </div>}
                                </div>}

