@model IEnumerable<Tuteexy.Models.ClassRoutine>
@{ ViewData["Title"] = "My Class Routine"; }

<div class="container-fluid p-0">
    <div class="row row-cols-1">
        <div class="col-12">
            <div class="card bg-info mb-2">
                <div class="card-body text-white">
                    <h3 class="card-title">My Class Routine</h3>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table id="tblData" class="table table-sm table-full-width table-font-size table-borderless">
                    <thead class="invisible">
                        <tr>
                            <th></th>



                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
            <tr>
                <td class="py-0">
                    <div class="card rounded shadow">
                        <div class="card-body">

                            <p class="display-1 text-center text-info" style="float:left;margin:20px">
                                <span class="fas fa-calendar-alt fa-1x"></span>
                            </p>
                            <div style="float:left">
                                <p class="py-0 my-0">Name: @item.ClassRoom.ClassRoomName</p>
                                <p class="py-0 my-0">Day : @item.DayName</p>
                                <p class="py-0 my-0">Period - 1 : @item.Period1</p>
                                <p class="py-0 my-0">Period - 2 : @item.Period2</p>
                                <p class="py-0 my-0">Period - 3 : @item.Period3</p>
                                <p class="py-0 my-0">Period - 4 : @item.Period4</p>
                                <p class="py-0 my-0">Period - 5 : @item.Period5</p>
                                <p class="py-0 my-0">Period - 6 : @item.Period6</p>
                                <p class="py-0 my-0">Period - 7 : @item.Period7</p>
                                <p class="py-0 my-0">Period - 8 : @item.Period8</p>
                                <p class="py-0 my-0">Period - 9 : @item.Period9</p>
                                <p class="py-0 my-0">Period - 10 : @item.Period10</p>
                            </div>

                        </div>
                    </div>
                </td>

            </tr>}
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


