@model Tuteexy.Models.Classwork


<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row justify-content-between">
                        <div class=" col-7">
                            <h5 class="card-title">Classwork Details</h5>
                        </div>
                        <div class="col-3">
                            <a class="btn btn-success w-100" asp-area="Lms" asp-controller="Classworks" asp-action="Upsert"><span class="fas fa-plus-circle"></span> New</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12">

                <div class="card">
                    <div class="card-body">
                        <p class="card-title py-0 my-0">@Model.Title</p>
                        <p class="card-subtitle py-0 my-0"><strong>Post By:</strong> @Model.Teacher.FullName</p>
                        <p class="card-subtitle py-0 my-0"><strong>Subject:</strong> @Model.Subject </p>
                        <p class="card-subtitle py-0 my-0"><strong>Date Assigned:</strong> @Model.DateAssigned.ToString("dd/MMM/yyyy hh:mm tt") </p>
                        <p class="card-subtitle"><strong>Class Date:</strong> @Model.TimeStart.ToString("dd/MMM/yyyy") </p>
                        <p class="card-subtitle"><strong>Start Time:</strong> @Model.TimeStart.ToString("hh:mm tt") </p>
                        <p class="card-subtitle"><strong>End Time:</strong> @Model.TimeEnd.ToString("hh:mm tt") </p>

                        <div class="btn-group">
                            @if (string.IsNullOrWhiteSpace(Model.RefLink1) == false && (string.IsNullOrEmpty(Model.RefLink1) == false))
                            {
                    <a href="@Model.RefLink1" class="btn btn-light">
                        <span class="fas fa-camera">
                        </span>  <span>Join</span>
                    </a>}

                            @if (string.IsNullOrWhiteSpace(Model.RefLink2) == false && (string.IsNullOrEmpty(Model.RefLink2) == false))
                            {
                    <a href="@Model.RefLink2" class="btn btn-light">
                        <span class="fas fa-link">
                        </span>  <span>Attachment - 2</span>
                    </a>}

                            @if (string.IsNullOrWhiteSpace(Model.RefLink3) == false && (string.IsNullOrEmpty(Model.RefLink3) == false))
                            {
                    <a href="@Model.RefLink3" class="btn btn-light">
                        <span class="fas fa-link">
                        </span>  <span>Attachment - 3</span>
                    </a>}

                            @if (string.IsNullOrWhiteSpace(Model.RefLink4) == false && (string.IsNullOrEmpty(Model.RefLink4) == false))
                            {
                    <a href="@Model.RefLink4" class="btn btn-light">
                        <span class="fas fa-link">
                        </span>  <span>Attachment - 4</span>
                    </a>}

                            @if (string.IsNullOrWhiteSpace(Model.RefLink5) == false && (string.IsNullOrEmpty(Model.RefLink5) == false))
                            {
                    <a href="@Model.RefLink5" class="btn btn-light">
                        <span class="fas fa-link">
                        </span>  <span>Attachment - 5</span>
                    </a>}
                            @{ var eml = "mailto:" + Model.Teacher.Email; }

                            <a href="@eml" class="btn btn-light">
                                <span class="fas fa-link">
                                </span>  <span>Reply</span>
                            </a>
                        </div>
                        <div class="content">
                            @Html.Raw(Model.Description)
                        </div>
                    </div>
                </div>
            
        </div>
    </div>
</div>
