@{ ViewData["Title"] = "View All Classworks"; }
@model IEnumerable<Tuteexy.Models.Classwork>

<partial name="_StatusMessage" for="@TempData["StatusMessage"]" />

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row justify-content-between">
                        <div class=" col-7">
                            <h5 class="card-title">Classwork's List</h5>
                        </div>
                        <div class="col-3">
                            <a class="btn btn-success w-100" asp-area="Lms" asp-controller="Classworks" asp-action="Upsert"><span class="fas fa-plus-circle"></span> New</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tblData" class="table table-sm table-full-width table-font-size table-borderless">
                            <thead class="invisible">
                                <tr>
                                    <th></th>



                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (Classwork item in Model)
                                    {
                    <tr class="py-0 my-0">
                        <td class="py-0 my-0">
                            <div class="card bg-classwork rounded shadow my-1">
                                <div class="card-body">
                                   
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12"> <p class="card-title text-white py-0 my-0">@item.Title</p></div>
                                            <div class="col-6">
                                                <p class="card-subtitle text-white py-0 my-0"><strong>Post By:</strong> @item.ClassRoom.ClassRoomName</p>
                                                <p class="card-subtitle text-white py-0 my-0"><strong>Post By:</strong> @item.Teacher.FullName</p>
                                                <p class="card-subtitle text-white py-0 my-0"><strong>Subject:</strong> @item.Subject </p>
                                                <p class="card-subtitle text-white py-0 my-0"><strong>Date Assigned:</strong> @item.DateAssigned.ToString("dd/MMM/yyyy hh:mm tt") </p>
                                            </div>
                                            <div class="col-6">
                                                <p class="card-subtitle text-white py-0 my-0"><strong>Class Date:</strong> @item.TimeStart.ToString("dd/MMM/yyyy") </p>
                                                <p class="card-subtitle text-white py-0 my-0"><strong>Start Time:</strong> @item.TimeStart.ToString("hh:mm tt") </p>
                                                <p class="card-subtitle text-white py-0 my-0"><strong>End Time:</strong> @item.TimeEnd.ToString("hh:mm tt") </p>
                                            </div>
                                        </div>

                                        <div class="btn-group">
                                            <a class="btn bg-classwork-light txtwhite mr-1" asp-area="Lms" asp-controller="Classworks" asp-action="CWPreview" asp-route-id="@item.ClassworkID" data-toggle="tooltip" data-placement="top" title="Details">
                                                <span class="fas fa-layer-group"></span>
                                                <span class="d-none d-md-block d-lg-block d-xl-block">C.W.</span>
                                            </a>
                                            <a class="btn btn-success txtwhite mr-1" asp-area="Lms" asp-controller="Classworks" asp-action="Upsert" asp-route-id="@item.ClassworkID" data-toggle="tooltip" data-placement="top" title="Edit">
                                                <span class="fas fa-edit"></span>
                                                <span class="d-none d-md-block d-lg-block d-xl-block">Edit</span>
                                            </a>
                                            <a class="btn btn-info txtwhite mr-1" asp-area="Lms" asp-controller="Classworks" asp-action="rptClassworks" asp-route-id="@item.ClassworkID" data-toggle="tooltip" data-placement="top" title="Attendance">
                                                <span class="fas fa-user-clock"></span>
                                                <span class="d-none d-md-block d-lg-block d-xl-block">Attn</span>
                                            </a>
                                            <a class="btn btn-danger text-white mr-1" onclick=Delete("/Lms/Classworks/Delete/@item.ClassworkID") data-toggle="tooltip" data-placement="top" title="Delete">
                                                <span class="fas fa-trash-alt"></span>
                                                <span class="d-none d-md-block d-lg-block d-xl-block">Delete</span>

                                            </a>
                                            <a class="btn btn-warning text-white mr-1" asp-area="Lms" asp-controller="MyClassworks" asp-action="LiveClass" asp-route-id="@item.ClassworkID" data-toggle="tooltip" data-placement="top" title="Live discussion">
                                                <span class="fas fa-video"></span>
                                                <span class="d-none d-md-block d-lg-block d-xl-block">Live</span>
                                            </a>
                                            @if (string.IsNullOrWhiteSpace(@item.RefLink1) == false && (string.IsNullOrEmpty(item.RefLink1) == false))
                                            {
                                        <a href="@item.RefLink1" class="btn btn-light txt-twit mr-1">
                                            <span class="fas fa-video"></span>
                                            <span class="d-none d-md-block d-lg-block d-xl-block">Join</span>
                                        </a>}

                                            @if (string.IsNullOrWhiteSpace(@item.RefLink2) == false && (string.IsNullOrEmpty(item.RefLink2) == false))
                                            {
                                        <a href="@item.RefLink2" class="btn btn-light txt-twit mr-1">
                                            <span class="fas fa-link">
                                            </span>
                                            <span class="d-none d-md-block d-lg-block d-xl-block">At-2</span>
                                        </a>}

                                            @if (string.IsNullOrWhiteSpace(@item.RefLink3) == false && (string.IsNullOrEmpty(item.RefLink3) == false))
                                            {
                                        <a href="@item.RefLink3" class="btn btn-light txt-twit mr-1">
                                            <span class="fas fa-link">
                                            </span> <span class="d-none d-md-block d-lg-block d-xl-block">At-3</span>
                                        </a>}

                                            @if (string.IsNullOrWhiteSpace(@item.RefLink4) == false && (string.IsNullOrEmpty(item.RefLink4) == false))
                                            {
                                        <a href="@item.RefLink4" class="btn btn-light txt-twit mr-1">
                                            <span class="fas fa-link">
                                            </span>  <span class="d-none d-md-block d-lg-block d-xl-block">At-4</span>
                                        </a>}

                                            @if (string.IsNullOrWhiteSpace(@item.RefLink5) == false && (string.IsNullOrEmpty(item.RefLink5) == false))
                                            {
                                        <a href="@item.RefLink5" class="btn btn-light txt-twit">
                                            <span class="fas fa-link">
                                            </span>  <span class="d-none d-md-block d-lg-block d-xl-block">At-5</span>
                                        </a>}

                                        </div>
                                   </div>
                                </div>
                            </div>
                        </td>

                    </tr>}
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
<script>
    $('#tblData').DataTable({
        "pageLength": 100,
        "ordering": false
    });
    function Delete(url) {
        swal({
            title: "Are you sure you want to Delete?",
            text: "You will not be able to restore the data!",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    type: "DELETE",
                    url: url,
                    success: function (data) {
                        if (data.success) {
                            toastr.success(data.message);
                            location.reload();
                        }
                        else {
                            toastr.error(data.message);
                        }
                    }
                });
            }
        });
    }
</script>
}