
@{ ViewData["Title"] = "Your Questions List"; }

@model IEnumerable<Tuteexy.Models.Question>


<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row justify-content-between">
                        <div class=" col-7">
                            <h5 class="card-title">Question's List</h5>
                        </div>
                        <div class="col-3">
                            <a class="btn btn-success w-100" asp-area="Hub" asp-controller="Questions" asp-action="Upsert"><span class="fas fa-plus-circle"></span> New</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tblData" class="table table-sm table-full-width table-font-size table-borderless">
                            <thead class="invisible">
                                <tr>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                <tr class="py-0 my-0">
                                    <td class="py-0 my-0">
                                        <div class="card bg-card text-dark rounded shadow my-1">
                                            <div class="card-body">

                                                <div class="container">
                                                    <div class="row justify-content-between">

                                    <div class="col-12 col-md-7">
                                        <p class="card-title py-0 my-0">@item.Description</p>
                                        <p class="card-subtitle py-0 my-0"><strong>Is Reply Close :</strong> @item.IsReplyClose</p>
                                        <p class="card-subtitle py-0 my-0"><strong>Is Offensive :</strong> @item.IsOffensive</p>
                                        <p class="card-subtitle py-0 my-0"><strong>Is Approved :</strong> @item.IsApproved</p>
                                        <p class="card-subtitle py-0 my-0"><strong>Submitted Date :</strong> @item.SubmittedDate.ToString("dd/MMM/yyyy")</p>
                                    </div>
                                    <div class="col-12 col-md-5 text-right">
                                        <div class="btn-group">
                                            <a class="btn bg-classwork-light txtwhite mr-1" asp-area="Hub" asp-controller="Questions" asp-action="Answer" asp-route-id="@item.QuestionID" data-toggle="tooltip" data-placement="top" title="Preview">
                                                <span class="fas fa-layer-group"></span>
                                                <span class="d-none d-md-block d-lg-block d-xl-block">Preview</span>
                                            </a>
                                            <a class="btn btn-success txtwhite mr-1" asp-area="Hub" asp-controller="Questions" asp-action="Upsert" asp-route-id="@item.QuestionID" data-toggle="tooltip" data-placement="top" title="Edit">
                                                <span class="fas fa-edit"></span>
                                                <span class="d-none d-md-block d-lg-block d-xl-block">Edit</span>

                                            </a>
                                            <a class="btn btn-danger text-white mr-1" onclick=Delete("/Hub/Questions/Delete/@item.QuestionID") data-toggle="tooltip" data-placement="top" title="Delete">
                                                <span class="fas fa-trash-alt"></span>
                                                <span class="d-none d-md-block d-lg-block d-xl-block">Delete</span>
                                            </a>
                                        </div>
                                    </div>
</div>
                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr>
}
            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
    $('#tblData').DataTable({
            "pageLength": 100,
            "ordering": false
        });
        function Delete(url) {
            swal({
                title: "Are you sure you want to Delete?",
                text: "You will not be able to restore the data!",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "DELETE",
                        url: url,
                        success: function (data) {
                            if (data.success) {
                                toastr.success(data.message);
                                location.reload();
                            }
                            else {
                                toastr.error(data.message);
                            }
                        }
                    });
                }
            });
        }</script>
}



