@model IEnumerable<Tuteexy.Models.ClassRoutine>
@{ ViewData["Title"] = "All Class Routine"; }

<partial name="_StatusMessage" for="@TempData["StatusMessage"]" />

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row justify-content-between">
                        <div class=" col-7">
                            <h5 class="card-title">Class Routine's List</h5>
                        </div>
                        <div class="col-3">
                            <a class="btn btn-success w-100" asp-area="Lms" asp-controller="ClassRout" asp-action="Upsert"><span class="fas fa-plus-circle"></span> New</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tblData" class="table table-sm table-full-width table-font-size table-borderless">
                            <thead class="invisible">
                                    <tr>
                                        <th></th>



                                    </tr>
                                </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                    <tr class="py-0 my-0">
                        <td class="py-0 my-0">
                            <div class="card bg-card rounded shadow my-1">
                                <div class="card-body">
                                    <div class="row justify-content-between">
                                        <div class="col-12 col-md-7">
                                            <p class="py-0 my-0">Name: @item.ClassRoom.ClassRoomName</p>
                                            <p class="py-0 my-0">Day : @item.DayName</p>
                                            <p class="py-0 my-0">Period - 1 : @item.Period1</p>
                                            <p class="py-0 my-0">Period - 2 : @item.Period2</p>
                                            <p class="py-0 my-0">Period - 3 : @item.Period3</p>
                                            <p class="py-0 my-0">Period - 4 : @item.Period4</p>
                                            <p class="py-0 my-0">Period - 5 : @item.Period5</p>
                                            <p class="py-0 my-0">Period - 6 : @item.Period6</p>
                                            <p class="py-0 my-0">Period - 7 : @item.Period7</p>
                                            <p class="py-0 my-0">Period - 8 : @item.Period8</p>
                                            <p class="py-0 my-0">Period - 9 : @item.Period9</p>
                                            <p class="py-0 my-0">Period - 10 : @item.Period10</p>
                                        </div>
                                        <div class="col-12 col-md-5 text-right">
                                            <div class="btn-group">
                                                <a class="btn btn-warning" href="/Lms/ClassRout/Upsert/@item.ClassRoutineID" data-toggle="tooltip" data-placement="top" title="Edit">
                                                    <i class="fas fa-edit"></i>
                                                    <span class="d-none d-md-block d-lg-block d-xl-block">Edit</span>
                                                </a>
                                                <a class="btn btn-danger" onclick=Delete("/Lms/ClassRout/Delete/@item.ClassRoutineID") data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="fas fa-trash-alt"></i>
                                                    <span class="d-none d-md-block d-lg-block d-xl-block">Delete</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    
                                </div>
                            </div>
                        </td>
                        
                    </tr>
}
            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>

        $('#tblData').DataTable({
            "pageLength": 100,
            "ordering": false
        });

        function Delete(url) {
            swal({
                title: "Are you sure you want to Delete?",
                text: "You will not be able to restore the data!",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "DELETE",
                        url: url,
                        success: function (data) {
                            if (data.success) {
                                toastr.success(data.message);
                                location.reload(true);
                            }
                            else {
                                toastr.error(data.message);
                            }
                        }
                    });
                }
            });
        }

    </script>
}


<!--@section Scripts {
    <script src="~/js/lms/classrout.js"></script>-->
<!--}-->
